.topic{
	height: auto;
	
}
.imag{
	padding: 30px;
}
.content{
	padding: 30px;
	text-align: justify;
}

.card{
	margin: 10px;
	background-color: rgb(61, 61, 61);
}

#heading{
	background-image: url(../image/heading.jpg);
	background-size: 100%;
}
#h-content{
	height: 300px;
	background-color: rgba(0,0,0,0.3);
	color: black;
	border-bottom: 10px solid rgb(61, 61, 61);
	font-size: 10vmin;
}


.topic{
	transition: all 0.2s;
	border-bottom: 10px solid rgb(61, 61, 61);
}

.topic:hover {
	transition: all 0.2s;
	transform: scaleY(1.09);
	box-shadow: 0px 10px 20px 0px gray;
	background-image: linear-gradient(to top, rgb(249, 77, 77), white);
	z-index: 99;
}